* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}
:root {
  --card-width: 250.66px;
  --card-height: 354px;
  --tw-text-opacity: 1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.desserts {
  /* width: 800px; */
  width: calc(3.19 * var(--card-width));
  height: calc(3.37 * var(--card-height));
  /* border: 5px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* סדר כרטיסים בצד שמאל */
  align-items: flex-start;
  gap: 16px; /* רווח קבוע בין הכרטיסים */
}
.card {
  width: var(--card-width);
  height: var(--card-height);

  /*   border: 5px solid blue;*/
  display: flex;
  flex-direction: column;
}
.card_img {
  display: flex;
  width: var(--card-width)-2px;
  height: var(--card-height);
  /*  border: 5px solid red; */
  flex-direction: column;
  position: relative;
}
.card_img img {
  border-radius: 10px 10px 10px 10px;
}
.card_details {
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2.25rem 0 0.625rem;
}
.add-to-cart-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  width: auto;
  border: 1px solid black;
  position: absolute;
  /* top: 91%; ממרכז אנכית לפי אחוזים */
  /* left: 21%; ממרכז אופקית לפי אחוזים */
  top: 90%;
  left: 20%;
}

.add-to-cart-btn .icon {
  width: 16px; /* גודל האייקון */
  height: 16px;
}

.product_list_category text-sm {
  color: #ad8985;
  font-size: 0.875rem;
}
.product_list_name {
  font-weight: 600;
}

.product_list_price {
  font-weight: 600;
}
.cart {
  display: flex;
  flex-direction: column;
  margin-top: 77px;
  margin-left: 25px;
  width: 384px;
  min-width: 239px;

  height: 299px;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-self: center; */
}
/* 
למה לא עובד 
.cart > child:first-child{
    align-self: flex-start;
    border: 5px solid red;
}


*/


.cart span {
  color: hsl(12 20% 44% / var(--tw-text-opacity));
}

.text-red {
  color: hsl(14 86% 42% / var(--tw-text-opacity));
}
.main {
  display: flex;
}

.text-rose-500 {
  --tw-text-opacity: 1;
  color: hsl(12 20% 44% / var(--tw-text-opacity));
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (max-width: 1197px) {

.main{
  flex-direction: column;
}
.desserts{
  gap: 15px;
}
:root {
  --card-width: 213.66px;
  --card-height: 319px; 
  --tw-text-opacity: 1;
}
.add-to-cart-btn {
  left:19%;
}
.cart_svg{
  align-self: flex-end;
}
.cart
{
  width: 457px;
}
}
@media (max-width: 691px) {
  :root {
    --card-width: 213px;
    --card-height: 319px; 
    --tw-text-opacity: 1;
  }
  .desserts{
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: unset;
    gap: 0; /* רווח קבוע בין הכרטיסים */
    flex-direction: column;
    width: calc(1 * var(--card-width));
    height: calc(1 * var(--card-height)*10.5);
  }
  .cart_svg {
    align-self: flex-start;
  }
  .cart
  {
    margin-left: 0px;
  }
}